/**
 * @name Discord Enhancer (New UI)
 * @author holy
 * @description its jsut better ok???
*/

/* Bloat */
/* Hide events, browse channels and fix spacing */
div[class^="containerDefault_"]:has(div[data-list-item-id^="channels___upcoming-events"]){
    display:none;
}
div[class^="containerDefault_"]:has(div[aria-label="Browse Channels"]){
    display:none;
}
div[data-list-item-id^="channels___boosts"]{
    display:none;
}
div[class^="sectionDivider__629e4"]{
    display:none;
}
div:nth-of-type(2)[style*="height: 12px"] {
  display: none !important;
}
div[style*="height: 16px"] {
  display: none !important;
}

/* Hide Discover button */
div:has( > div > div > svg > foreignObject > div[aria-label="Discover"]) {
    display: none !important;
}

/* Hide activity button */
button[aria-label="Start An Activity"] {
    display: none;
}

/* Hide noise suppression button */
button[aria-label="Noise Suppression powered by Krisp"] {
    display: none;
}

/* New UI improvements */
/* Shrinks User Card to avoid overlapping with the server list */
section[aria-label="User area"] {
    left: var(--space-80) !important;
    width: calc(80% - var(--space-xs)*2) !important;
}

/* Extends the server list to the bottom of the screen */
nav[aria-label="Servers sidebar"] {
    margin-bottom: 0 !important;
}

/* Hide bar title */
.title__85643,
.title_c38106 {
	display: none !important;
}

/* Decrease top bar height */
.visual-refresh .base_c48ade {
	grid-template-rows: [top] 27px [titleBarEnd] min-content [noticeEnd] 1fr [end];
}

 /* Hide Inbox and Help buttons */
.button__85643[aria-label="Inbox"],
.button__85643[aria-label="Help"] {
	display: none !important;
}

/* Scale window buttons */
.winButtons_c38106 {
	transform: scale(0.8);
	transform-origin: top right;
	margin-top: 2px;
}

/* Align discord logo and left bar */
.tree_ef3116 {
    margin-top: 0.5rem;
}



Increase the size of each server icon
/* .stack_dbd263 .listItem__650eb { */
  /* transform: scale(1.2); /* Slightly larger */ */
  /* transition: transform 0.2s ease; */
  /* margin-bottom: 10px; /* Adjust the vertical space between server icons */ */
/* } */

Optional: Make icons slightly larger on hover
/* .stack_dbd263 .listItem__650eb:hover { */
  /* transform: scale(1.4); /* Make it bigger on hover */ */
/* } */

Exclude the DM icon by targeting its specific container
/* .stack_dbd263 .tutorialContainer__1f388 .listItem__650eb { */
  /* transform: none !important; /* Prevent scaling the DM icon */ */
/* } */

Fix spacing between the server icons
/* .stack_dbd263 { */
  /* display: flex; */
  /* flex-direction: column; */
  /* gap: 15px; /* Controls the space between the icons */ */
/* } */
